@import "../../styles/variables";

.dialog {
	&__input {
		position: relative;
		display: flex;
		align-items: center;
		height: 46px;
		flex: 0 0 auto;
		gap: 2px;
		margin: 0 20px 20px;
		padding: 0 8px;
		border-radius: 6px;
		border: 1px solid #e0e0e0;
		box-shadow: 0 0 25px #20202011;

		> span {
			padding: 0;
		}

		button {
			&:hover svg {
				opacity: 1;
				cursor: pointer;
				fill: $main-color;
			}

			span {
				svg {
					opacity: 0.6;
					height: 18px;
					width: 18px;
					fill: #202020;
					transition: 0.2s;
				}
			}
		}

		&-light {
			svg {
				fill: $main-color !important;
			}
		}
	}

	&__emoji_piker {
		position: absolute;
		bottom: 50px;
		left: 0;
	}
}
