@import "../../styles/variables";

.typing {
	display: flex;
	gap: 13px;
	align-items: flex-end;
	max-width: 440px;
	&__avatar {
		margin-bottom: 20px;
	}

	&__content {
		display: inherit;
		flex-direction: column;
		gap: 8px;
	}

	&__wrapper {
		width: fit-content;
		padding: 15px;
		border-radius: 12px 12px 12px 0;
		box-shadow: 0 2px 10px lighten($main-color, 20) ;
		color: #fff;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f4f7fd;

		& .circle {
			display: block;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color: $main-color;
			margin: 3px;
		}
		& .bouncing {
			animation: bounce 1s ease-in-out infinite;
			animation-delay: 3.6s;
		}
		& .circle:nth-child(1) {
			animation-delay: 0ms;
		}

		& .circle:nth-child(2) {
			animation-delay: 333ms;
		}

		& .circle:nth-child(3) {
			animation-delay: 666ms;
		}
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	33% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
