@import "../../styles/variables";

.audio_message {
	display: flex;
	gap: 13px;
	align-items: flex-end;
	max-width: 440px;

	&__avatar {
		margin-bottom: 28px;
	}

	&__content {
		display: inherit;
		flex-direction: column;
		gap: 8px;
	}

	&__slider {
		min-width: 80px;
		max-width: 260px;
		opacity: 0.7;
		* {
			transition: left 0.4s ease;
		}
	}

	&__wrapper {
		width: fit-content;
		display: inherit;
		align-items: center;
		gap: 18px;
		background-color: $main-color;
		padding: 15px;
		border-radius: 12px 12px 12px 0;
		box-shadow: 0 2px 8px $main-color;
		> p {
			color: #ececec;
			font-weight: 700;
			margin: 0;
			padding: 0;
		}

		> svg {
			height: 30px;
			fill: #fff;
			opacity: 0.5;
		}

		&--playing {
			.audio_message__time {
				opacity: 1;
			}

			.audio_message__slider {
				opacity: 1;
			}

			> svg {
				opacity: 1;
			}
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 24px;
		width: 24px;
		background: #20202088;
		padding: 6px;
		border-radius: 50%;
		border: none;
		cursor: pointer;

		* {
			fill: #fff;
		}

		&--loading {
			height: 100%;
			width: 100%;
			transform: scale(2.5);
		}
	}

	&__info {
		font-size: 12px;
		opacity: 0.5;
		display: flex;
		align-items: center;
		gap: 5px;
		line-height: 1.2rem;

		.more__btn {
			transition: 0.2s;
			height: 0.8rem;
			width: 1rem;
			opacity: 0;
			fill: #202020;
		}

		.more__btn:hover {
			cursor: pointer;
			opacity: 1 !important;
			fill: $main-color;
		}
		
		.view_indicator {
			height: 0.7rem;
			width: 1rem;
			opacity: 1 !important;
			fill: #202020;
			&-readed {
				fill: $main-color;
			}
			&-error {
				fill: red;
			}
		}
	}

	&__time {
		opacity: 0.5;
	}

	&:hover .more__btn {
		opacity: 0.5;
	}

	&__self {
		align-self: end;
		flex-direction: row-reverse;

		& .audio_message__content {
			align-items: flex-end;

			> .audio_message__wrapper {
				background-color: #fff;
				border: 1px solid #ececec;
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
				border-radius: 12px 12px 0 12px;

				> p {
					color: #202020;
				}

				svg {
					fill: #202020;
				}
			}
		}

		& .audio_message__info {
			flex-direction: row-reverse;
		}
	}
}
