@import "../../styles/variables";

.dialog_item {
	display: flex;
	padding: 10px 15px;
	gap: 10px;
	width: 100%;
	max-width: 320px;
	align-items: center;
	color: #202020;
	transition: 0.2s;
	cursor: pointer;

	&:hover {
		color: #202020;
		background-color: #f3f7ff;
	}

	p {
		margin-bottom: 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		color: #202020;

		&:hover {
			color: #202020;
		}
	}

	&__info {
		display: inherit;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		> span {
			display: inherit;
			align-items: inherit;
			gap: 5px;
			time {
				font-size: 12px;
				overflow: hidden;
				max-lines: 1;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				height: 1rem;
				opacity: 0.6;
			}
		}
	}

	&__username {
		font-weight: 700;
		overflow: hidden;
		max-lines: 1;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		height: 1rem;
		flex: 1;
	}

	&__last_message {
		overflow: hidden;
		max-lines: 1;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		opacity: 0.6;

		* {
			margin-right: 4px;
		}
	}

	.view_indicator {
		height: 0.7rem;
		width: 1rem;
		opacity: 0.5;
		transition: 0.2s;
		fill: #202020;
		&-readed {
			fill: $main-color;
		}
		&-error {
			fill: red;
		}
	}
	&--active,
	&--active:hover {
		background-color: $main-color ;
		* {
			color: #f3f7ff !important;
		}

		.view_indicator {
			fill: #f3f7ff;
			&-readed {
				fill: #f3f7ff;
			}
		}
		.ant-avatar {
			box-shadow: 0 0 0 1px white;
		}
	}
}
