@import "../../styles/variables";

.main_container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	box-shadow: 0 0 25px #20202011;

	.sidebar {
		background-color: #fff;

		width: 100%;
		max-width: 320px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border-right: 1px solid #f7f7f7;

		&__header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 48px;
			flex: 0 0 auto;
			padding: 0 20px;
			border-bottom: 1px solid #f7f7f7;

			span {
				display: inherit;
				align-items: inherit;
				column-gap: 4px;
				opacity: 0.8;

				h4 {
					margin: 0;
					font-weight: 400;
				}
			}
		}

		&__search {
			padding: 20px;
			&-input {
				background-color: #f7f8f9;
				border-radius: 4px;
				input {
					padding: 4px 2px;

					&::placeholder {
						color: #202020;
					}
				}

				svg {
					opacity: 0.4;
				}
			}
		}

		&__dialogs_list {
			overflow-y: auto;
			overflow-x: hidden;
			height: 100%;
		}
	}
	.dialog {
		background-color: #fff;
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		&__header {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 48px;
			flex: 0 0 auto;
			border-bottom: 1px solid #f7f7f7;
			padding: 0 20px;

			span {
				display: flex;
				align-items: center;
				column-gap: 10px;
			}

			&-title {
				height: 100%;
				margin: 0;
			}

			.more__btn {
				transition: 0.2s;
				height: 1.1rem;
				width: 1.2rem;
				fill: #202020;
			}

			.more__btn:hover {
				cursor: pointer;
				fill: $main-color;
			}
		}

		&__messages {
			overflow: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 12px;
			padding: 20px 20px 0;
		}
	}
}
